.index-main{
    background-image: url(../public/img/bg-index.jpg);
    background-size: cover;
    background-attachment: fixed;
    &-t{
        padding: 90px  30px    40px    30px;
    }
    &-d{
        font-size: 20px;
        padding: 0px  30px    35px    30px;
    }
    &-h2{
        padding: 0px  30px  100px    30px;
        font-size: 35px;
        color: $secondary;
        :hover{
            text-decoration: none;
            color: $secondary;
            border: 1px solid $secondary;
            background-color: $background;
            transition-duration: 1.5s;
        }
    }
    &-link{
        color: $secondary;
        text-decoration: none;
    }
    &-caja1{
        background-color: $background;
    }
    /** EXTEND **/
    &-caja2{
        @extend .index-main-caja1;
        height: map-get($porcentajes, full);
        @include center;
    }
}
@media only screen and (max-width: 992px){    
        .index-main-d{
            font-size: 20px;
            padding: 0px  25%    35px    25%;
    }    
} 